@import "src/vars.scss";

.hero {
  width: 100%;
  height: calc(100vh - #{$navHeight});
  justify-content: center;
  position: relative;
  color: #fff;

  p, button, h1 {
    @keyframes slideIn {
      from {
        transform: translateY(30%);
      }

      to {
        transform: none;
      }
    }

    animation: slideIn .3s;
  }
}

.center {
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 5rem;
    margin-bottom: .8rem;
    background: linear-gradient(to right, $primary, #c6eccd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  .buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  a {
    background: $primary;
    border: none;
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    display: block;
    text-decoration: none;
    color: $darkText;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s, transform .25s ease-out, border-color .3s;
    font-size: 1.3rem;

    &:hover {
      background-color: $primaryTint;
      transform: translateY(-8%);
    }

    &:first-of-type {
      box-shadow: 0 10px 30px -10px $primaryTint;
    }

    &:nth-of-type(2) {
      background-color: transparent;
      color: #fff;
      border: 2px solid $primaryTint;

      &:hover {
        background-color: $accent;
        border-color: $accent;
        color: $darkText;
      }
    }
  }
}