@import "src/vars";

.about {
  background-color: $primaryShade;

  p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.3rem;
  }
}

.images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: $sectionPaddingBlock;
  padding-inline: 4vw;

  @media (max-width: 1000px) {
    padding-top: $sectionPaddingBlockSmall;
    grid-template-columns: repeat(2, 1fr);
  }
}

.image {
  background: $primaryTint;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  border-radius: 3rem;
  @media(max-width: 1000px) {
    padding-bottom: 40%;
    border-radius: 1.5rem;
  }
}

.aboutHeader {
  color: $primaryTint !important;
}

.aboutHeaderBig {
  color: #fff !important;
}