@import "src/vars";

.about {
  background-color: $primaryShade;
  color: #fff;

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: left;
    @media(max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  .feature-box {
    font-size: 1.8rem;
    color: $primaryTinter;
    font-weight: 500;
    letter-spacing: .5px;
    display: flex;
    flex-flow: column;
    gap: 1.2rem;

    @media(max-width: 1000px) {
      font-size: 1.5rem;
    }

    @media(max-width: $mobile) {
      font-size: 1.39rem;
      flex-flow: row;
      align-items: center;
    }

    span {
      color: darken($accent, 10);
      font-weight: 700;
    }

    .feature-icon {
      margin-right: .5rem;
      color: darken($accent, 10);
      display: block;
    }
  }
}

.images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: $sectionPaddingBlock;
  padding-inline: 4vw;

  @media (max-width: 1000px) {
    padding-top: $sectionPaddingBlockSmall;
    grid-template-columns: repeat(2, 1fr);
  }
}

.image {
  background: $primaryTint;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  border-radius: 3rem;
  @media(max-width: 1000px) {
    padding-bottom: 40%;
    border-radius: 1.5rem;
  }
}

.aboutHeader {
  color: $primaryTint !important;
}

.aboutHeaderBig {
  color: #fff !important;
}