@import "src/vars.scss";

.scrolled {
  position: fixed;
  top: 0;
  background: $primaryShadeLight;
}

.navWrapper {
  height: $navHeight;
}

.mobileSwitch {
  display: none;
  z-index: 3;
  background: none;
  border:none;
  color: #fff;
  font-size: 2.8rem;
  text-align: center;
  align-items: center;

  @media (max-width: $mobile) {
    display: flex;
  }
}

.navigation {
  display: flex;
  width: 100%;
  height: $navHeight;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  transition: background-color .3s;

  @media(max-width: $mobile) {
    padding-inline: 3rem;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 2px;
    line-height: 1.1;
    background-image: linear-gradient($primaryTinter, $primaryTinter);
    background-position: bottom left;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: background-position 0s .3s, color .3s, background-size .3s;

    &:hover, &:active {
      color: $primaryTinter;
      background-position: bottom right;
      background-size: 100% 2px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    @media(max-width: $mobile) {
      a {
        font-size: 2rem;
      }
      visibility: hidden;
      opacity: 0;
      position: fixed;
      pointer-events: none;
      transition: opacity .4s, visibility .4s, transform .4s;
      background: transparentize($primaryShade, .02);
      transform: translateX(100%);
      top: 0;
      left: 0;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: left;
    }
  }

  .open {
    @media(max-width: $mobile) {
      opacity: 100%;
      visibility: visible;
      transform: translateX(0);
      pointer-events: auto;
    }
  }
}