@import "src/vars";

.pricing {
  display: flex;
  flex-flow: column;
  align-items: center;
  .card {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: lighten($accent, 13);
    margin-bottom: 3.5rem;
    padding: 2rem 1rem;
    @media(min-width:$mobile){
      padding-inline: 4rem;
    }
    box-shadow: 0 20px 50px -30px rgba(61, 120, 61, .2);
    text-align: center;
    border-radius: 2rem;
  }

  .hour {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .center {
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .divider {
    width: 100%;
    background-color: $primary;
    height: 2px;
  }

  .discount {
    font-weight: 500;
    font-size: 2rem;
    @media(max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  .subheading {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .bold-text {
    font-weight: 500;
    font-size: 1.6rem;
    color: rgba(99, 99, 99);
  }

  .normal-price {
    display: flex;
    width: 100%;
    flex-flow: column;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    justify-content: stretch;
    gap: 1rem;

    span {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  span {
    color: $primaryShadeLight;
    font-weight: 700;
    font-size: 2.2rem;
  }
}
