@import "src/vars";

.footer {
  background: $primaryShade;
  color: $primaryTinter;
  line-height: 1.5;
  font-size: 1.05rem;
  letter-spacing: .5px;

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;

    @media(max-width: $mobile) {
      grid-template-columns: 1fr;

      div {
        display: flex;
        flex-flow: column;
      }
    }
  }
}