@import "vars";

.app {
  @keyframes fadeIn {
    from {
      opacity: 20%;
    }

    to {
      opacity: 100%;
    }
  }
  animation: fadeIn .6s ease-in-out;

  .background {
    position: absolute;
    background-image: linear-gradient(to top, rgba(33, 33, 33, .1), rgba(33, 33, 33, .5)), url("background.jpg");
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.35);
    top: 0;
  }
}