@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import "vars";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $darkText;
  background-color: $background;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
  @media(max-width: 500px) {
    font-size: 85%;
  }
}