@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import "vars";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $darkText;
  background-color: $background;
  overflow-x: hidden;
}

button {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
}

html {
  scroll-behavior: smooth;
  @media(max-width: 500px) {
    font-size: 90%;
  }

  @media(max-width: 300px) {
    font-size: 80%;
  }
}

a {
  text-decoration: underline;
  color: $accent;
  transition: color .3s;
}

.container {
  padding-inline: $sectionPaddingInline;
  padding-block: $sectionPaddingBlock;

  .section-p {
    letter-spacing: .5px;
    line-height: 1.7;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    @media (max-width: 1455px) {
      display: flex;
      flex-flow: column;
      gap: 1.4rem;
    }
  }

  @media(max-width: 1500px) {
    padding-inline: 10rem;
  }

  @media(max-width: 1100px) {
    padding-inline: 4rem;
  }

  @media(max-width: $mobile) {
    padding-block: $sectionPaddingBlockSmall;
    padding-inline: $sectionPaddingInlineSmall;
  }
}

.section-h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section-h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $primaryShadeLight;
  font-size: .9rem;
  margin-bottom: .3rem;
}
