$background: #d9f2dd;
$primary: #40c057;
$primaryShade: #0d2611;
$primaryShadeLight: #20602c;
$primaryTint: #53c668;
$primaryTinter: #d5ffe2;
$accent: #aaffc6;
$darkText: #343a40;
$navHeight: 8vh;
$mobile: 762px;
$sectionPaddingBlock: 6rem;
$sectionPaddingInline: 25rem;
$sectionPaddingBlockSmall: 3rem;
$sectionPaddingInlineSmall: 2rem;